/bower_components/
/.cache
/dist/
/testdist/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
.spago


# Temp files:
*~
\.\#*
.xdg*

# Template (Haskell)
metajelo-templates/dist-newstyle
